@model OMSAPI.Dto.AppointmentsDto.AppointmentEmailDto

<html>
    <head>
        <title>Appointment Cancellation</title>
    </head>
    <body>
        <h1>Appointment Cancellation</h1>

        <p>Dear @Model.User.Name, </p>

        <p>We would like to inform you that your appointment with our store has been canceled. Here are the details:</p>

        <ul>
            <li><strong>Appointment Date:</strong> @Model.Date</li>
            <li><strong>Appointment Time:</strong> @Model.Slot.StartTime : @Model.Slot.EndTime</li>
        </ul>

        <p>If you have any questions or need further assistance, please don't hesitate to contact us.</p>

    </body>
</html>
